.contact-icon {
  color: var(--color-primary);
  display: block;
  font-size: 25px;
}

.contact-form {
  max-width: 500px;

  h2 {
    color: var(--text-primary);
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    outline: none;
    border: 2px solid var(--color-primary);

    &:focus {
      border: 2px solid var(--color-green);
    }
  }

  textarea {
    height: 200px;
  }
}
