:root {
  --bg-primary: #20262c;
  --bg-secondary: #31373d;
  --bg-profile: #2e3339;

  --text-primary: #eeeeee;
  --text-secondary: #a6a7a8;

  --color-primary: #007ced;
  --color-green: #02231c;

  --font-primary: "Poppins", sans-serif;
  --font-heading: "Josefin Sans", sans-serif;
}
