.blog-skeleton {
  border-radius: 5px;
  padding: 0;
  background-color: var(--bg-profile);
  overflow: hidden;

  .img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    opacity: 0.3;
  }
}
