footer {
  margin: 10px 5px;
  background-color: var(--bg-profile);

  @media (max-width: 992px) {
    margin: 0 !important;
  }
}

.footer-link {
  transition: 0.3s;
  color: var(--text-primary) !important;

  &:hover {
    color: var(--color-primary) !important;
    transform: translateY(-3px);
  }
}
