.children {
  padding-left: 320px;

  @media (max-width: 1200px) {
    padding-left: 280px;
  }

  @media (max-width: 992px) {
    padding-left: 0;
  }
}

.about-page {
  @media (max-width: 992px) {
    padding-top: 60px !important;
  }
}

.blogs-page,
.contact-page,
.project-page {
  @media (max-width: 992px) {
    padding-top: 70px !important;
  }
}
