@keyframes slide-text {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-22px);
  }
  63% {
    transform: translateY(-22px);
  }
  66% {
    transform: translateY(-44px);
  }
  99% {
    transform: translateY(-44px);
  }
}
